body {
  font-family: "Raleway", sans-serif;
}

.navbar-brand {
  width: 100px;
}


.fotoDescripcion {
  width: 300px;
  height: 300px;
}

.sizeFont {
  font-size: 3rem;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
}

.bg-img-descripcion {
  background-image: url("../img/desarrolloPort.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}